<ion-header>
  <ion-buttons>
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Reporte de verificación física de vivienda terminada</ion-title>
  </ion-toolbar>
  <style>
    ion-col {
      border: solid 1px #ddd;
      padding: 10px;
    }
  </style>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-label>Fraccionamiento</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>Prototipo</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-label>Etapa</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-label>MZ</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-label>Lote</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-label>Fecha</ion-label>
            <ion-input type="date"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Contratista</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="4">
        <ion-label>Supervisor de obra</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="4">
        <ion-label>Residente de obra</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row >
      <ion-col size="12">
        <h2 style="text-align: center;">Fachada</h2>
      </ion-col>
    </ion-row>
    <ion-row style="border: solid 1px #ddd;">
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Aplanado</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Repisones</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Molduras de pretil</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Teja</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Pintura</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Nivelación y Limpieza</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Contacto deinterperie</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Soquet</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Carriles</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Registro</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Cisterna</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Acometida</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Base de medidor</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Toma de agua</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>No. Oficial</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Bomba</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row >
      <ion-col size="12">
        <h2 style="text-align: center;">Sala/Comedor</h2>
      </ion-col>
    </ion-row>
    <ion-row style="border: solid 1px #ddd;">
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Puerta de acceso</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Tirol</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Pasta</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Yeso (acabados y boquilla)</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Pintura</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Piso y zoclo</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Domo</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marcos</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Ventanas</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Vidrios</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Chapas funcionando</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Escalera</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Barandal</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Contactos</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Apagadores</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Soquets</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Salidas tv y teléfono/guia</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Llaves de vivienda</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row >
      <ion-col size="12">
        <h2 style="text-align: center;">Cubo de escalera</h2>
      </ion-col>
    </ion-row>
    <ion-row style="border: solid 1px #ddd;">
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Domo</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Barandal</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Repellado</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Pintura</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Huellas</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Domo</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Marcos</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Ventanas</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Vidrios</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Chapas funcionando</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Escalera</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Peraltes</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Contactos</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Accesorios</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Canceleria</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Vidrios</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2 style="text-align: center;">Recamaras</h2>
      </ion-col>
    </ion-row>
    <ion-row style="border: solid 1px #ddd;">
      <ion-col size="4" style="border: none;">
        <ion-col size="2" style="float:right; border: none;">
          <ion-label>Rp</ion-label>
        </ion-col>
        <ion-col size="2" style="float:right; border: none;">
          <ion-label>R2</ion-label>
        </ion-col>
        <ion-col size="2" style="float:right; border: none;">
          <ion-label>R1</ion-label>
        </ion-col>
    </ion-col>
    <ion-col size="4" style="border: none;">
      <ion-col size="2" style="float:right; border: none;">
        <ion-label>Rp</ion-label>
      </ion-col>
      <ion-col size="2" style="float:right; border: none;">
        <ion-label>R2</ion-label>
      </ion-col>
      <ion-col size="2" style="float:right; border: none;">
        <ion-label>R1</ion-label>
      </ion-col>
  </ion-col>
  <ion-col size="4" style="border: none;">
    <ion-col size="2" style="float:right; border: none;">
      <ion-label>Rp</ion-label>
    </ion-col>
    <ion-col size="2" style="float:right; border: none;">
      <ion-label>R2</ion-label>
    </ion-col>
    <ion-col size="2" style="float:right; border: none;">
      <ion-label>R1</ion-label>
    </ion-col>
</ion-col>
    </ion-row>
    <ion-row style="border: solid 1px #ddd;">
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Puertas</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Tirol</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Pasta</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Yeso</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Pitura</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Piso y zoclo</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Marcos</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Ventanas</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Vidrios</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Chapas funcionando</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Contactos</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Apagadores</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Soquet</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Salidas tv y teléfono/guia</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Llaves de puertas</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row >
      <ion-col size="12">
        <h2 style="text-align: center;">Cocina</h2>
      </ion-col>
    </ion-row>
    <ion-row style="border: solid 1px #ddd;">
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Puerta bandera</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Pasta</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Yeso (Acabado y boquillas)</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Azulejo</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Pintura esmalte</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Piso y zoclo</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Vidrios</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Chapas funcionando</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Tarja</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Prueba de tarja</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Llave mezcladora</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Barra</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Linea de gas (pintada)</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Contactos</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Apagadores</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Soquet</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Cocina integral en su caso</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2 style="text-align: center;">Baños</h2>
      </ion-col>
    </ion-row>
    <ion-row style="border: solid 1px #ddd;">
      <ion-col size="4" style="border: none;">
        <ion-col size="2" style="float:right; border: none;">
          <ion-label>Brp</ion-label>
        </ion-col>
        <ion-col size="2" style="float:right; border: none;">
          <ion-label>Bpa</ion-label>
        </ion-col>
        <ion-col size="2" style="float:right; border: none;">
          <ion-label>1/2 b</ion-label>
        </ion-col>
    </ion-col>
    <ion-col size="4" style="border: none;">
      <ion-col size="2" style="float:right; border: none;">
        <ion-label>Brp</ion-label>
      </ion-col>
      <ion-col size="2" style="float:right; border: none;">
        <ion-label>Bpa</ion-label>
      </ion-col>
      <ion-col size="2" style="float:right; border: none;">
        <ion-label>1/2 b</ion-label>
      </ion-col>
  </ion-col>
  <ion-col size="4" style="border: none;">
    <ion-col size="2" style="float:right; border: none;">
      <ion-label>Brp</ion-label>
    </ion-col>
    <ion-col size="2" style="float:right; border: none;">
      <ion-label>Bpa</ion-label>
    </ion-col>
    <ion-col size="2" style="float:right; border: none;">
      <ion-label>1/2 b</ion-label>
    </ion-col>
  </ion-col>
    </ion-row>
    <ion-row style="border: solid 1px #ddd;">
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Puertas</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Pasta</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Tirol</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Yeso</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Azulejo</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Pintura esmalte</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Piso y zoclo</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Antiderrapante</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Area de regadera</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Ventila</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Muebles de baño</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Pruebas de lavabo y WC</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Llave mezcladora</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Regadera</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Manerales de regadera</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Accesorios de baño</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Chapas funcionando</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Contactos</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Apagadores</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
          <ion-item>
            <ion-label>Soquet</ion-label>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
            <ion-col size="2" style="float:right; border: none;">
              <ion-checkbox disabled="false"></ion-checkbox>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row >
      <ion-col size="12">
        <h2 style="text-align: center;">Patio posterior</h2>
      </ion-col>
    </ion-row>
    <ion-row style="border: solid 1px #ddd;">
      <ion-col size="6" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Lavadero</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Coladera</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Registro y tapa</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Prueba de drenaje</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Base de calentador</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Barda</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Molduras en su caso</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Firme en patio</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Nivelación y Limpieza</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Aplanado</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Pintura</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Contactos de  interperie</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Soquet</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Escalera marina en su caso</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row >
      <ion-col size="12">
        <h2 style="text-align: center;">Azotea</h2>
      </ion-col>
    </ion-row>
    <ion-row style="border: solid 1px #ddd;">
      <ion-col size="6" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Limpieza</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Talones</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Diamantes</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Pretiles</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Teja</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Emboquillado de bajada  pluvial</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Tapajuntas</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Impermeabilizante</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Calzado de tubería</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Fijación de tinaco</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Domo</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h5>Nota: En la parte posterior del formato se anexa un cuadro de observaciones para anotar los conceptos a reparar</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.5">
        <p>N.A.</p>
      </ion-col>
      <ion-col size="1.5">
        <p>No aplica</p>
      </ion-col>
      <ion-col size="1.5">
        <p>R1</p>
      </ion-col>
      <ion-col size="1.5">
        <p>Recamara 1</p>
      </ion-col>
      <ion-col size="1.5">
        <p>R2</p>
      </ion-col>
      <ion-col size="1.5">
        <p>Recamara 2</p>
      </ion-col>
      <ion-col size="1.5">
        RP 
      </ion-col>
      <ion-col size="1.5">
        <p>Recamara principal</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.5">
        <p>1/2</p>
      </ion-col>
      <ion-col size="1.5">
        <p>1/2 Baño</p>
      </ion-col>
      <ion-col size="1.5">
        Bpa
      </ion-col>
      <ion-col size="1.5">
        Baño planta baja
      </ion-col>
      <ion-col size="1.5">
        <p>Brp</p>
      </ion-col>
      <ion-col size="1.5">
        <p>Baño de recamara principal</p>
      </ion-col>
      <ion-col size="1.5">
        <p>X</p>
      </ion-col>
      <ion-col size="1.5">
        <P>Revisado</P>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button shape="round" color="success">Guardar</ion-button>
</ion-content>
