<ion-header>
  <ion-buttons>
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Control de verificación de armado y colado de losa de entrepiso</ion-title>
  </ion-toolbar>
  <style>
    ion-col {
      border: solid 1px #ddd;
      padding: 10px;
    }
  </style>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-label>Fraccionamiento</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>Prototipo</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-label>Etapa</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-label>MZ</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-label>Lote</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-label>Fecha</ion-label>
            <ion-input type="date"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Contratista</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="4">
        <ion-label>Supervisor de obra</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="4">
        <ion-label>Residente de obra</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-list lines="full" class="ion-no-margin">
          <ion-list-header lines="full">
            <h2>Instalación eléctrica</h2>
          </ion-list-header>
          <ion-item>
            <ion-label>Revisar isométrico</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Revisar despiece</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Revisar diámetro de tuberia</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Ubicación de salidas</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Cortes de cajas con cortadora</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Guiado de poliducto con alambre</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list lines="full" class="ion-no-margin">
          <ion-list-header lines="full">
            <h2>Cimbra y apuntalamiento</h2>
          </ion-list-header>
          <ion-item>
            <ion-label>Enrase de block con cortadora (obligatorio)  X</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Cimbra en buenas condiciones y aceitada</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Madrinas en el perímetro</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Contraflecha en la  losa</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Nivelación</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Taponear enrase de block</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Verificar losas inclinadas según proyecto     X</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-list lines="full" class="ion-no-margin">
          <ion-list-header lines="full">
            <h2>Instalación hidráulica</h2>
          </ion-list-header>
          <ion-item>
            <ion-label>Ubicación de salidas</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Revisión de conexiones</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Diámetros de tuberia</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Tipo de tuberia</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Encamisado en caso de  cobre</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Prueba hidráulica</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list lines="full" class="ion-no-margin">
          <ion-list-header lines="full">
            <h2>Instalación sanitaria/gas</h2>
          </ion-list-header>
          <ion-item>
            <ion-label>Revisar isométrico</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Revisar despiece</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Revisar diámetro de tuberia</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Ubicación de salidas</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Pendiente minima de tubo del 2%</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Prueba de fluidez</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Gas</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-list lines="full" class="ion-no-margin">
          <ion-list-header lines="full">
            <h2 style="text-align: center;">Concreto</h2>
          </ion-list-header>
          <ion-item>
            <ion-label>Concreto Bombeado (Obligatorio)</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>f"c el concreto</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Revenimiento</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Cilindro de  prueba a 7 días</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Cilindro de prueba a 14 días</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Cilindro de prueba a 28 días</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sie="12">
        <h2 style="text-align: center;">Armado</h2>
      </ion-col>
    </ion-row>
    <ion-row style="border: solid 1px #ddd;">
      <ion-col size="6" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Modulación j de vigueta y bovedilla</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Tipo de malla</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Trabe en losa</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Varillas en trabes</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Estribos en trabes</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Refuezo en malla</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Varilla tec 60 en castillos   X</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Refuerzo en castillos</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Refuerzo de castillos</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Traslapes</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Dobleces</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Amarres</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Anclajes</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Calzado</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Bayoneteo</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Ubicación de castillos a pretil</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Contraventeo de BAP</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h2 style="text-align: center;">Colado</h2>
      </ion-col>
    </ion-row>
    <ion-row style="border: solid 1px #ddd;">
      <ion-col size="6" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Vibrado (Vibrador obligatorio)</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Espesor de comprensión</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6" style="border: none;">
        <ion-list lines="full" class="ion-no-margin">
          <ion-item>
            <ion-label>Acabado con avión en  losa compacta</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Curado (obligatorio)</ion-label>
            <ion-checkbox disabled="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button shape="round" color="success">Guardar</ion-button>
</ion-content>
