<ion-app>
  <ion-header class="ion-no-border">
    <ion-buttons>
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-header>
  <ion-content>
    <ion-toolbar class="toolbar1">
      <ion-title class="titulo">Control de verificación de armado y colado de castillos y cerramientos</ion-title>
    </ion-toolbar>
    <hr class="hrHead">
    <ion-grid>
      <ion-row class="row1">
        <ion-col size="2.5">
          <ion-card class="card1">
            <ion-card-header>
              <ion-card-title class="titulo">Avance</ion-card-title>
              <hr>
            </ion-card-header>
            <ion-card-content>

            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="9.5">
          <ion-card class="card1">
            <ion-row class="row2">
              <ion-col size="2.2" class="col1">
                <ion-label>Fraccionamiento</ion-label>
                <ion-label></ion-label>
              </ion-col>
              <ion-col size="2.2" class="col1">
                <ion-label>Prototipo</ion-label>
                <ion-label></ion-label>
              </ion-col>
              <ion-col size="2.2" class="col1">
                <ion-label>Etapa</ion-label>
                <ion-label></ion-label>
              </ion-col>
              <ion-col size="2.2" class="col1">
                <ion-label>Manzana y Lote</ion-label>
                <ion-label></ion-label>
              </ion-col>
              <ion-col size="2.2" class="col1">
                <ion-label>Fecha</ion-label>
                <ion-input placeholder="Fecha" type="date" class="inputCab"></ion-input>
              </ion-col>
            </ion-row>
            <hr class="hrCab">
            <ion-row class="row3">
              <ion-col size="4">
                <ion-label>Contratista</ion-label>
              </ion-col>
              <ion-col size="4">
                <ion-label>Supervisor de obra</ion-label>
              </ion-col>
              <ion-col size="4">
                <ion-label>Residente de obra</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="row3">
              <ion-col size="4">
                <ion-item>
                    <ion-select [(ngModel)]="selectContratista" interface="popover" placeholder="Elegir opción">
                      <ion-select-option *ngFor="let contratista of contratistas" [value]="contratista.Nombre">{{contratista.Nombre}}</ion-select-option>
                    </ion-select>
                  </ion-item>
              </ion-col>
              <ion-col size="4">
                <ion-item>
                  <ion-select [(ngModel)]="selectSupervisor" interface="popover" placeholder="Elegir opción">
                    <ion-select-option *ngFor="let supervisor of supervisores" [value]="supervisor.Nombre">{{supervisor.Nombre}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <ion-item>
                  <ion-select interface="popover">
                    <ion-select-option value="nes">NES</ion-select-option>
                    <ion-select-option value="n64">Nintendo64</ion-select-option>
                    <ion-select-option value="ps">PlayStation</ion-select-option>
                    <ion-select-option value="genesis">Sega Genesis</ion-select-option>
                    <ion-select-option value="saturn">Sega Saturn</ion-select-option>
                    <ion-select-option value="snes">SNES</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-toolbar class="toolbar1">
      <ion-title class="titulo">Verificación de castillos y cerramientos</ion-title>
    </ion-toolbar>
    <hr class="hrVer">
    <ion-row class="row4">
      <ion-col size="6">
        <ion-card class="card2">
          <ion-card-header>
            <ion-card-title class="titulo">Cimbra</ion-card-title>
            <hr>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Activo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Inactivo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label >N/A</ion-label>
              </ion-col>
            </ion-row>  
            <ion-radio-group size="6" allowEmptySelection="true" [(ngModel)]="valoresCas.Madera">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Madera en buenas condiciones</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Desmoldante">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Desmoldante</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Apoyo">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Apoyos y/o refuerzos</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>  
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.NivelacionCimbra">
            <ion-row>
              <ion-col size="6"> 
                <ion-label class="label">Nivelación</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Plomo">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Plomo</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card2">
          <ion-card-header>
            <ion-card-title class="titulo">Muros planta alta</ion-card-title>
            <hr>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Activo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Inactivo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label >N/A</ion-label>
              </ion-col>
            </ion-row>   
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.DesplantePa">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Desplante</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.JunteoBlockPa">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Junteo de block</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Escalerilla3raPa">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Escalerilla 3era hilada</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>  
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Escalerilla6taPa">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Escalerilla 6ta hilada</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Escalerilla9naPa">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Escalerilla 9na hilada</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Escalerilla11vaPa">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Escalerilla 11va</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="row4">
      <ion-col size="6">
        <ion-card class="card2">
          <ion-card-header>
            <ion-card-title class="titulo">Muros planta baja</ion-card-title>
            <hr>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Activo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Inactivo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label >N/A</ion-label>
              </ion-col>
            </ion-row>   
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.DesplantePb">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Desplante</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.JunteoBlockPb">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Junteo de block</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Escalerilla3raPb">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Escalerilla 3era hilada</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>  
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Escalerilla6taPb">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Escalerilla 6ta hilada</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Escalerilla9naPb">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Escalerilla 9na hilada</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Escalerilla11vaPb">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Escalerilla 11va</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card2">
          <ion-card-header>
            <ion-card-title class="titulo">Muros pretiles </ion-card-title>
            <hr>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Activo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Inactivo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label >N/A</ion-label>
              </ion-col>
            </ion-row>   
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.DesplantePre">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Desplante</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.JunteoBlockPre">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Junteo de block</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Escalerilla3raPre">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Escalerilla 3era hilada</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>  
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Escalerilla6taPre">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Escalerilla 6ta hilada</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Escalerilla9naPre">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Escalerilla 9na hilada</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Escalerilla11vaPre">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Escalerilla 11va</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="row5">
      <ion-col size="6">
        <ion-card class="card3">
          <ion-card-header>
            <ion-card-title class="titulo">Concreto</ion-card-title>
            <hr>
          </ion-card-header>
          <ion-card-content> 
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Concreto premezclado o hecho en obra</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-input [(ngModel)]="valoresCas.ConcretoPremezclado" placeholder="Descripción" type="text" class="input2"></ion-input>
              </ion-col>
            </ion-row> 
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">f`c el concreto</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-input [(ngModel)]="valoresCas.fcConcreto" placeholder="Número" type="number" class="input2"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Revenimiento</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-input [(ngModel)]="valoresCas.Revenimiento" placeholder="Número" type="number" class="input2"></ion-input>
              </ion-col>
            </ion-row> 
            <ion-row>
              <ion-col size="6">
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Activo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Inactivo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>N/A</ion-label>
              </ion-col>
            </ion-row> 
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Cilindro7dias">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Cilindro de  prueba a 7 días</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Cilindro14dias">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Cilindro de  prueba a 14 días</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Cilindro28dias">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Cilindro de  prueba a 28 días</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card3">
          <ion-card-header>
            <ion-card-title class="titulo">Instalaciones</ion-card-title>
            <hr>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Activo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Inactivo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>N/A</ion-label>
              </ion-col>
            </ion-row>  
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.BajadasPluviales">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Bajadas pluviales</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.RamaleosHidraulicos">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Ramaleos hidráulicos</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.RamaleosElectricos">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Ramaleos eléctricos</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.PreparacionAireAcondicionado">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Preparación aire acondicionado</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="row6">
      <ion-col size="6">
        <ion-card class="card3">
          <ion-card-header>
            <ion-card-title class="titulo">Escalera</ion-card-title>
            <hr>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Activo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Inactivo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>N/A</ion-label>
              </ion-col>
            </ion-row>  
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Trazo">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Trazo</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.NivelacionEscalera">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Nivelación</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Cimbra">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Cimbra</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Armado">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Armado</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Concreto">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Concreto</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Colado">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Colado</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card3">
          <ion-card-header>
            <ion-card-title class="titulo">Colado</ion-card-title>
            <hr>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Activo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Inactivo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>N/A</ion-label>
              </ion-col>
            </ion-row>  
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Vibrado">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Vibrado (Vibrador obligatorio)</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row> 
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Recubrimiento">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Recubrimiento</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Curado">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Curado (obligatorio)</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="row5">
      <ion-col size="6">
        <ion-card class="card5">
          <ion-card-header>
            <ion-card-title class="titulo">Armado</ion-card-title>
            <hr>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Tipo de castillo</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-input [(ngModel)]="valoresCas.TipoCastillo" placeholder="Descripción" type="text" class="input2"></ion-input>
              </ion-col>
            </ion-row> 
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Tipo de cerramiento</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-input [(ngModel)]="valoresCas.TipoCerramiento" placeholder="Descripción" type="text" class="input2"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Activo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>Inactivo</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-label>N/A</ion-label>
              </ion-col>
            </ion-row>  
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Varillas">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Varillas</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Estribos">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Estribos</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Refuerzos">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Refuerzos</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Traslapes">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Traslapes</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Dobleces">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Dobleces</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Amarres">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Amarres</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Anclajes">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Anclajes</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Calzado">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Calzado</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-radio-group allowEmptySelection="true" [(ngModel)]="valoresCas.Bayoneteo">
            <ion-row>
              <ion-col size="6">
                <ion-label class="label">Bayoneteo</ion-label>
              </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=1></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=2></ion-radio>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-radio value=3></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card4">
          <ion-card-header>
            <ion-card-title class="titulo">Revisión</ion-card-title>
            <hr>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="5.7" class="firma">
                <ion-row>
                  <ion-label>Supervisor</ion-label>
                </ion-row>
                <ion-row class="rowFirma">
                  <ion-col class="colFirma">
                    <a href="" class="aFirma">Click para firmar</a>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="5.7" class="firma">
                <ion-row>
                  <ion-label>Residente</ion-label>
                </ion-row >
                <ion-row class="rowFirma">
                  <ion-col class="colFirma">
                    <a href="" class="aFirma">Click para firmar</a>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-button fill="outline" (click)="verDatos()">
          Guardar
          <ion-icon slot="end" name="save-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>