<ion-header>
  <ion-buttons>
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Reporte de verificación física de vivienda terminada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title style="text-align: center;">Observaciones</ion-title>
  </ion-toolbar>
  <ion-textarea rows="6" cols="12" placeholder="Escribir aquí..."></ion-textarea>
  <ion-button shape="round" color="success">Enviar observaciones</ion-button>
</ion-content>
