<ion-header>
  <ion-buttons>
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Control de verificación de pruebas de instalaciones</ion-title>
  </ion-toolbar>
  <style>
    ion-col {
      border: solid 1px #ddd;
      padding: 10px;
    }
  </style>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-label>Fraccionamiento</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>Prototipo</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-label>Etapa</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-label>MZ</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-label>Lote</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="2">
        <ion-label>Fecha</ion-label>
            <ion-input type="date"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-label>Contratista</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="4">
        <ion-label>Supervisor de obra</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="4">
        <ion-label>Residente de obra</ion-label>
            <ion-select interface="popover">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="1.7">
        <ion-title size="small" style="font-weight: bold;">Ubicación</ion-title>
      </ion-col>
      <ion-col size="1.7">
        <ion-title size="small" style="font-weight: bold;">Concepto</ion-title>
      </ion-col>
      <ion-col size="1.7">
        <ion-title size="small" style="font-weight: bold;">No. Piezas</ion-title>
      </ion-col>
      <ion-col size="1.7">
        <ion-title size="small" style="font-weight: bold;">Revisado</ion-title>
      </ion-col>
      <ion-col size="1.7">
        <ion-title size="small" style="font-weight: bold;">Reparado</ion-title>
      </ion-col>
      <ion-col size="1.7">
        <ion-title size="small" style="font-weight: bold; padding: 0%;">Verificado</ion-title>
      </ion-col>
      <ion-col size="1.7">
        <ion-title size="small" style="font-weight: bold; padding: 0%;">Observaciones</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label>Fachada</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Contacto</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Timbre</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Soquet / lámparas</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Arbotante</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Spot</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label>Sala/comedor</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Apagadores</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Soquets</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Contactos</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Zumbador</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Salidas para cable de teléfono y tv c/guia</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label>Cocina</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Soquet</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Contactos</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Contacto para estufa</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Contacto para campana</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Contacto para refrigerador</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Apagador</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label>Medio baño</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Contactos</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Apagador</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Soquet</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Arbotante</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label>Baño 1</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Contactos</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Apagador</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Soquet</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Arbotante</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label>Baño 2</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Contactos</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Apagador</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Soquet</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Arbotante</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label>Recamara 1</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Contactos</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Apagador</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Soquet</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Salidas para cable de teléfono y tv c/guia</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label>Recamara 2</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Contactos</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Apagador</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Soquet</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Salidas para cable de teléfono y tv c/guia</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label>Recamara principal</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Contactos</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Apagador</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Soquet</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Salidas para cable de teléfono y tv c/guia</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label>Patio de servicio</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Contactos</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1.7">
        <ion-label></ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-label>Arbotante</ion-label>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="number"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
      <ion-col size="1.7">
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button shape="round" color="success">Guardar</ion-button>
</ion-content>

